@use '../utils' as *;
@use '../components' as *;

@mixin About {
  .mainAbout {
    width: 100%;
    // min-height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;

    .topContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;

      @include mediaMaxCustom(600px) {
        flex-direction: column-reverse;
      }

      &__info {
        display: flex;
        flex-direction: column;
        width: 30rem;
        gap: 3rem;

        @include mediaMaxCustom(800px) {
          width: 60%;
        }

        @include mediaMaxCustom(600px) {
          width: 100%;
          align-items: center;
          text-align: center;
          gap: 1.8rem;
        }

        &__text {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          // width: 28rem;

          h3 {
            font-size: 2.5rem;
            font-weight: bold;
            font-weight: 600;

            @include mediaMaxCustom(1000px) {
              font-size: 4vw;
            }

            @include mediaMaxCustom(600px) {
              font-size: 2rem;
            }

            .firstLinear {
              background: linear-gradient(
                91.57deg,
                #c0b7e8 -1.02%,
                #8176af 36.25%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .secondLinear {
              background: linear-gradient(
                269deg,
                #c0b7e8 -3.72%,
                #8176af 82.17%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          p {
            font-size: 0.8rem;
            font-weight: 400;

            @include mediaMaxCustom(700px) {
              font-size: 0.65rem;
            }

            @include mediaMaxCustom(700px) {
              font-size: 0.8rem;
            }
          }
        }

        &__button {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-left: 0.2rem;

          button {
            @include Button();

            // @include mediaMaxCustom(900px) {
            //   font-size: 1.2vw;
            // }

            @include mediaMaxCustom(660px) {
              padding: 0.6rem 1rem;
              font-size: 0.7rem;
            }

            @include mediaMaxCustom(600px) {
              padding: 0.6rem 1.4rem;
              font-size: 0.9rem;
            }
          }

          &__img {
            position: relative;
            width: 3rem;
            height: 3rem;

            @include mediaMaxCustom(900px) {
              width: 2.5rem;
              height: 2.5rem;
            }

            @include mediaMaxCustom(700px) {
              width: 2rem;
              height: 2rem;
            }

            @include mediaMaxCustom(600px) {
              display: none;
            }
          }
        }
      }

      &__image {
        width: 28rem;
        height: 23rem;
        position: relative;
        border-radius: 5rem 5rem 5rem 11rem;
        border: 1rem solid rgba(0, 0, 0, 0.13);
        overflow: hidden;

        @include mediaMaxCustom(1200px) {
          width: 35vw;
          height: 30vw;
        }

        @include mediaMaxCustom(800px) {
          width: 17rem;
          min-width: 17rem;
          height: 15rem;
          min-height: 15rem;
        }

        @include mediaMaxCustom(800px) {
          width: 17rem;
          min-width: 20rem;
          height: 15rem;
          min-height: 18rem;
        }

        @include mediaMaxCustom(380px) {
          min-width: 5rem;
          min-height: 5rem;
          width: 80vw;
          height: 73vw;
        }
      }
    }

    .componentCarousel {
      // border: 1px solid red;
      width: 30rem;
      height: 12rem;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;

      @include Carousel() {
        .swiper-button-next,
        .swiper-button-prev {
          top: 58% !important;
          // width: 3rem !important;
          // height: 3rem !important;
        }
      }
    }
  }
}
