@use '../utils' as *;
@use '../components' as *;

@mixin Header() {
  .header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      align-items: center;
      gap: 1.3rem;

      &__img {
        position: relative;
        width: 5rem;
        height: 5rem;
      }

      &__text {
        position: relative;
        width: 4rem;
        height: 2rem;
      }
    }

    @include NavBar();

    &__button {
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 2rem;

      &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        border: 0.1rem solid $white;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.7rem 2.3rem;
        border-radius: 1.3rem;
      }

      &__try {
        @include Button();
      }
    }

    @include BurgerNav();
  }
}
