@use '../utils' as *;
@use '../components' as *;

@mixin Header() {
  .header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      align-items: center;
      gap: 1.3rem;
      width: 15rem;
      height: 6rem;
      position: relative;

      &__img {
        position: absolute;
        left: 13%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8rem;
        height: 8rem;

        @include mediaMaxCustom(800px) {
          width: 6rem;
          height: 6rem;
          left: 20%;
        }

        &__wrapper {
          width: 100%;
          height: 100%;
          position: relative;

          img {
            object-fit: cover;
          }
        }
      }

      &__text {
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translate(-50%, -50%);

        h1 {
          color: white;
          font-family: 'Comfortaa', sans-serif !important;
          font-weight: 400;
          letter-spacing: 0.3rem;

          @include mediaMaxCustom(800px) {
            font-size: 1.5rem;
          }
        }
      }
    }

    @include NavBar();

    &__button {
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 2rem;

      &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        border: 0.1rem solid $white;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.7rem 2.3rem;
        border-radius: 1.3rem;
      }

      &__try {
        @include Button();
      }
    }

    @include BurgerNav();
  }
}
