

// Original
$black: #181A3A;
$white: #ffffff;

// Grey
$greyShades-wetGrey: #737390;
$greyShades-grey: #9393B3;
$greyShades-roseGrey: #B6AEC7;
$greyShades-matSilver: #D7D9EA;
$greyShades-snow: #F6F7FE;
$greyShades-roseSnow: #E8DAFC;
$greyShades-white: #FFFFFF;

$grey-separator: #C0B7E854;

// purple 
$purple-background: #302C42;

// black
$black-button:#343045;

// Dark Mode
$dm-b0: #030303;
$dm-b1: #121217;
$dm-b2: #202030;
$dm-b3: #2E2E43;
$dm-b4: #454558;
$dm-b5: #676781;

// Transitions
$t01: 0.1s ease-in-out;
$t03: 0.3s ease-in-out;
$t07: 0.7s ease-in-out;
$t1: 1s ease-in-out;