// Original
$black: #181a3a;
$white: #ffffff;

// Grey
$greyShades-wetGrey: #737390;
$greyShades-grey: #9393b3;
$greyShades-roseGrey: #b6aec7;
$greyShades-matSilver: #d7d9ea;
$greyShades-snow: #f6f7fe;
$greyShades-roseSnow: #e8dafc;
$greyShades-white: #ffffff;

$grey-separator: #c0b7e854;

// purple
$purple-background: #302c42;
$purple-linear: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);

// black
$black-button: #343045;
$black-border: rgba(14, 14, 14, 0.3);

// Dark Mode
$dm-b0: #030303;
$dm-b1: #121217;
$dm-b2: #202030;
$dm-b3: #2e2e43;
$dm-b4: #454558;
$dm-b5: #676781;

// Transitions
$t01: 0.1s ease-in-out;
$t03: 0.3s ease-in-out;
$t07: 0.7s ease-in-out;
$t1: 1s ease-in-out;
